* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    text-align: center;
    background-color: lightcoral;
    color: white;
    padding: 15px;
}

main {
    padding: 20px;
    background-color: lightblue;
}

#loading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
