* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: lightcoral;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
    background-color: lightblue;
}

.container {
    max-width: 600px;
    margin: auto;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
